@model UserTask
<h1>Task Form</h1>

<form method="post">

    <input type="hidden" asp-for="TaskId" />

    <label asp-for="Task">Task</label> 
    <br />
    <input asp-for="Task" />
    <br />
    <label asp-for="DueDate">Due Date</label>
    <br />
    <input asp-for="DueDate" />
    <br />
    <label asp-for="Quadrant">Quadrant</label>
    <br />
    <input asp-for="Quadrant"/>
    <br />
    <select asp-for="CategoryId">
        <option value="Select a Category"></option>
        @foreach (Category c in ViewBag.category)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
            //uses viewbag here to pass information from controller to views
        }
    </select>
    <br>
    <label asp-for="Completed">Completed?</label>
    <br />
    <input asp-for="Completed" />
    <br /><br />
    <button type="submit">Submit</button>

</form>